/* Reset default margins and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}

/* Body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #e1f8e8;  /* Light, neutral background */
    color: #1f472e; 
    padding-top: 60px;
}

/* Nav bar */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #9cc891; 
    overflow: hidden;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

#name {
    margin-left: 20px;
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    margin-right: 20px;
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

nav ul li a.active,
nav ul li a:hover {
    border-bottom: 3px solid white;
}

/* About Me Section */
#about-me {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 100px auto;
    padding: 40px;
    background-color: #d3ecd4; /* Light background */
    border-radius: 15px;
    width: 80%;
}

#about-me img {
    width: 200px;
    height: auto;
    border-radius: 50%; /* Circular profile image */
    border: 3px solid #1f472e; /* Optional border around the profile picture */
}

#about-me p {
    font-size: 18px;
    max-width: 500px;
    color: #1f472e;
}

/* Headings */
h1 {
    text-align: center;
    font-size: 36px;
    margin: 60px 0 20px 0;
    color: #1f472e;
}

h2 {
    font-size: 1.8em;
    font-weight: bold;
    color: #1f472e;
    margin-bottom: 20px;
}

/* Footer */
footer {
    background-color: #9cc891; 
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 0.9em;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Form Styling for Contact Page */
.form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

.form-label {
    width: 80%;
    margin: 5px auto;
    display: block;
    text-align: left;
    color: #1f472e;
}

.form-input, .form-textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%;
    margin: 10px auto;
    display: block;
    background-color: #f8f8f8;
}

.form-button {
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 120px;
    margin: 10px auto;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.form-button:hover {
    background-color: #005b80;
}
